{% extends 'base.html' %}

{% block title %}
我的关注
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/personal.css">
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
<div class="personal_content">
    <div class="page-header" id="page_header">
      <h1 id="test">我的关注<small>My favorite</small></h1>
    </div>
    <div class="personal_info">
        <table>
            {% for j in range(follow_list|length) %}
            <tr class="personal_tr">
                <td class="personal_td">
                    <a href="{{ url_for('personal',Ino=follow_list[j][1]) }}" id="url{{ j }}" name="{{ follow_list[j][1] }}">{{ follow_list[j][0] }}</a>
                </td>
                <td class="personal_td">
                    <input type="button" value="取消关注" id="button{{ j }}" name="{{ j }}" onclick="buttonsend(this)">
                    <input type="button" value="私聊" id="but{{ j }}">
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <nav aria-label="Page navigation" class="pull-right">
                    <ul class="pagination">
                        {{ html|safe }}
                    </ul>
        </nav>
</div>
<script>
function buttonsend(obj) {
        var ema="{{ email|safe }}";
        var ema2= document.getElementById("url"+obj.name).name;
        if (obj.value=="关注"){
        obj.value="取消关注";
        }
        else{
        obj.value="关注";
        }
        $.ajax({
        url : "/follow/",
        type : "POST",
        data : {
            'email': ema ,
            'follow_email': ema2 ,
        },
        success : function(result) {
            console.log(result);
            if (result)
            {
                console.log("success")

            }
        },
        error:function(msg){
            console.log("error:",msg)
        }
        })
    }
    </script>
{% endblock %}